<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inventory.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @inventory.item_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @inventory.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>


<%= link_to 'Back', "/inventory" %>
