<p id="notice"><%= notice %></p>

<h1>Banner Items</h1>

<table>
  <thead>
    <tr>
      <th>Banner</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banner_items.each do |banner_item| %>
      <tr>
        <td><%= banner_item.banner_id %></td>
        <td><%= banner_item.item_id %></td>
        <td><%= link_to 'Show', banner_item %></td>
        <td><%= link_to 'Edit', edit_banner_item_path(banner_item) %></td>
        <td><%= link_to 'Destroy', banner_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner Item', new_banner_item_path %>
