<p id="notice"><%= notice %></p>

<p>
  <strong>Itemname:</strong>
  <%= @item.itemname %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @item.rarity %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @item.img_url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
